* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: #1e212d;
}

.pomodoro {
  color: #eabf9f;
  width: 100%;
  font-family: "Roboto Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20%;
}

.timer {
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 10px;
  background-color: #eabf9f;
  color: #1e212d;
  font-size: 15px;
  margin: 10px;
}

.btn-lg {
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 10px;
  background-color: #eabf9f;
  color: #1e212d;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
}

.btn-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

.cycleContainer {
  display: flex;
  padding: 30px;
}

.status {
  font-size: 30px;
}
